<div class="home__container">
    <h1 class="home__title">¡Bienvenido a nuestra tienda en línea!</h1>
    <p class="home__description">
      Explora nuestro catálogo de productos y añade tus favoritos a la cesta.
    </p>
  
    <div class="home__featured">
      <h2 class="home__featured-title">Productos destacados</h2>
  
      <table class="table">
        <thead class="table-head">
          <tr>
            <th class="table-cell">Producto</th>
            <th class="table-cell">Precio</th>
            <th class="table-cell">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of featuredProducts" class="table-row">
            <td class="table-cell">{{ product.name }}</td>
            <td class="table-cell">{{ product.price | currency:'EUR' }}</td>
            <td class="table-cell">
              <button class="button" (click)="addToCart(product)">Añadir a la cesta</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <dialog #confirmationDialog>
    <p>{{ dialogMessage }}</p>
    <button (click)="closeDialog(confirmationDialog)">Cerrar</button>
  </dialog>
  