<nav class="header">
    <ul class="header__nav">
      <li class="header__item">
        <a [routerLink]="RoutesPath.HOME" class="header__link">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"/>
            </svg>
            Home
          </a>
      </li>
      <li class="header__item">
        <a [routerLink]="RoutesPath.PRODUCTS" class="header__link">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <path d="M20.59 11.59L12.41 3.41C12.05 3.05 11.55 3 11.09 3H4c-1.1 0-2 .9-2 2v7.09c0 .46.05.96.41 1.32l8.18 8.18c.39.39 1.02.39 1.41 0l7.59-7.59c.39-.39.39-1.02 0-1.41zM6.5 8c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2z"/>
            </svg>
            Productos
        </a>
      </li>
      <li class="header__item">
        <a [routerLink]="RoutesPath.CART" class="header__link">
            <svg width="16" height="16" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false">
                <path d="M4 8l1.6 8.8c.2 1.1 1.1 1.9 2.2 1.9h8.4c1.1 0 2-.8 2.2-1.9L20 8h-2.2l-2.7-5.4c-.2-.4-.6-.6-1-.6h-4c-.4 0-.8.2-1 .6L6.2 8H4zm5-4h6l2 4H7l2-4zm1.5 10c-.8 0-1.5.7-1.5 1.5S9.7 17 10.5 17s1.5-.7 1.5-1.5S11.3 14 10.5 14zm5 0c-.8 0-1.5.7-1.5 1.5S14.7 17 15.5 17s1.5-.7 1.5-1.5S16.3 14 15.5 14z"/>
            </svg>
            Cesta
        </a>
      </li>
    </ul>
  </nav>
  